.skill-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 100px 200px;
    padding-top: 0;
}

.skill-body .skill-title {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.underline {
    width: 70%;
    height: 0.6rem;
    border-radius: 20px;
    position: relative;
    margin: 10px auto;
    border: 1px solid black;
    background-color: #1d2c50;
    overflow: hidden;
}

.underline .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #72E2AE;
    position: absolute;
    animation: move 2s linear infinite;
}

@keyframes move {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

.skill-tray {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #162033;
    border-radius: 10px;
    width: 320px;
    gap: 30px;
    text-align: center;
    transform: scale(1);
    transition: 300ms all ease-in-out;
}


.skill-box:hover {
    transform: scale(1.2);
    background-color: #72E2AE;
}

.skill-box:hover .skill-percent-box .fill {
    background-color: #162033;
}

.skill-box:hover .skill-percent-box .value {
    background-color: #72E2AE;
    color: #162033;
}

.skill-percent-box {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.skill-percent-box .fill {
    width: 100%;
    height: 100%;
    background-color: #72E2AE;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    transition: 300ms all ease-in-out;
}

.skill-percent-box .value {
    width: 85%;
    height: 85%;
    background-color: #162033;
    z-index: 11;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    transition: 300ms all ease-in-out;
}

.skill-box h1 {
    font-size: 1.2rem;
    color: aliceblue;
    transition: 300ms all ease-in-out;
}

.skill-percent {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.skill-percent .percent-box {
    width: 48%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
}

.percent-box h3 {
    font-size: 1.3rem;
}

.percent-box h3 span {
    color: #72E2AE;
}

.percent-box .percent-bar {
    width: 100%;
    height: 15px;
    background: #334e8d;
    border-radius: 10px;
}

.percent-bar .percent-bar-fill {
    height: 100%;
    background-color: #72E2AE;
    border-radius: 20px;
}

.skill-extra {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.skill-extra-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    background-color: #162033;
    padding: 30px 0;
    border-radius: 20px;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
}


.skill-extra-box .extra-tray {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.3rem;
    color: #72E2AE;
    font-weight: 700;
    flex-wrap: wrap;
}

.skill-extra-box .extra-tray span {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.skill-extra-box .extra-tray span svg {
    color: #334e8d;
}

@media (max-width:1100px) {
    .skill-body {
        padding: 50px;
    }
}

@media (max-width:800px) {

    .skill-percent,
    .skill-extra {
        flex-direction: column;
    }

    .skill-extra-box,
    .skill-percent .percent-box {
        width: 100%;
    }

    .skill-box {
        margin: auto;
    }
}